#calendar > div:nth-of-type(1){
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#calendar > div:nth-of-type(1) > div:nth-of-type(1){
    width: 15%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
}

#calendar > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1){
    background-color: #4285f4;
    color: white;
    width: 100%;
    text-align: center;  
    font-size: 15px;  
}

#calendar > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2){
    width:100%;
    border-top: 1px solid;
}
#calendar > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > div{
    border-top: 1px solid;
    text-align: center;
}

.scheduleStart{
    color: mediumvioletred;
}
.scheduleStartDisable{
    background-color: grey;
    color: white;
}
.trainingStart{
    color: mediumpurple;
}

.trainingStartDisable{
    background-color: grey;
    color: white;
}

.timeOffStart{
    color: mediumspringgreen;
}

.timeOffStartDisable{
    background-color: grey;
    color: white;
}

#calendar > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > div:hover{
    background-color: black;
    
}

#calendar > div:nth-of-type(1) > div:nth-last-of-type(1){
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
/* shift change section*/

#calendar > div:nth-of-type(1) > div:nth-of-type(2){
    width: 15%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
}

#calendar > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1){
    background-color: #4285f4;
    width: 100%;
    text-align: center;
    color: white; 
    font-size: 15px;   
}

#calendar > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2){
    width:100%;
    border-top: 1px solid;
}
#calendar > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2) > div{
    border-top: 1px solid;
    text-align: center;
}

#calendar > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2) > div:hover{
    background-color: black;
    color: white;
}

#calendar > div:nth-of-type(2){
    width: 100%;
    height: 80%;
    
}

/* Calendar object*/
#calendar > div:nth-of-type(2){
    display: flex;
    flex-direction: column;
}
/* days of the week name container*/
#calendar > div:nth-of-type(2) > div:nth-of-type(1){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

#calendar > div:nth-of-type(2) > div:nth-of-type(1) > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width:13%;
    height: 100%;
    text-align: center;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
    background-color: white;
}
#calendar > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1){
    border-left: 2px solid;
}
#calendar > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-last-of-type(1){
    border-right: 2px solid;
}

/* first week of the month*/
#calendar > div:nth-of-type(2) > div:nth-of-type(2){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}
#calendar > div:nth-of-type(2) > div:nth-of-type(2) > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:13%;
    height: 100%;
    text-align: center;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
    background-color: white;
}
#calendar > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1){
    border-left: 2px solid;
}
#calendar > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-last-of-type(1){
    border-right: 2px solid;
}
/* second week of the month*/
#calendar > div:nth-of-type(2) > div:nth-of-type(3){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}
#calendar > div:nth-of-type(2) > div:nth-of-type(3) > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:13%;
    height: 100%;
    text-align: center;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
    background-color: white;
}
#calendar > div:nth-of-type(2) > div:nth-of-type(3) > div:nth-of-type(1){
    border-left: 2px solid;
}
#calendar > div:nth-of-type(2) > div:nth-of-type(3) > div:nth-last-of-type(1){
    border-right: 2px solid;
}

/* 3rd week of the month*/
#calendar > div:nth-of-type(2) > div:nth-of-type(4){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}
#calendar > div:nth-of-type(2) > div:nth-of-type(4) > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:13%;
    height: 100%;
    text-align: center;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
    background-color: white;
}
#calendar > div:nth-of-type(2) > div:nth-of-type(4) > div:nth-of-type(1){
    border-left: 2px solid;
}
#calendar > div:nth-of-type(2) > div:nth-of-type(4) > div:nth-last-of-type(1){
    border-right: 2px solid;
}

/* third week of the month*/
#calendar > div:nth-of-type(2) > div:nth-of-type(4){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}
#calendar > div:nth-of-type(2) > div:nth-of-type(4) > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:13%;
    height: 100%;
    text-align: center;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
    background-color: white;
}
#calendar > div:nth-of-type(2) > div:nth-of-type(4) > div:nth-of-type(1){
    border-left: 2px solid;
}
#calendar > div:nth-of-type(2) > div:nth-of-type(4) > div:nth-last-of-type(1){
    border-right: 2px solid;
}

/* 4th week of the month*/
#calendar > div:nth-of-type(2) > div:nth-of-type(5){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}
#calendar > div:nth-of-type(2) > div:nth-of-type(5) > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:13%;
    height: 100%;
    text-align: center;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
    background-color: white;
}
#calendar > div:nth-of-type(2) > div:nth-of-type(5) > div:nth-of-type(1){
    border-left: 2px solid;
}
#calendar > div:nth-of-type(2) > div:nth-of-type(5) > div:nth-last-of-type(1){
    border-right: 2px solid;
}

/* 5th week of the month*/
#calendar > div:nth-of-type(2) > div:nth-of-type(6){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}
#calendar > div:nth-of-type(2) > div:nth-of-type(6) > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:13%;
    height: 100%;
    text-align: center;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
    background-color: white;
}
#calendar > div:nth-of-type(2) > div:nth-of-type(6) > div:nth-of-type(1){
    border-left: 2px solid;
}
#calendar > div:nth-of-type(2) > div:nth-of-type(6) > div:nth-last-of-type(1){
    border-right: 2px solid;
}

.workSchedule{
    color: mediumvioletred;
}

.training{
    color: mediumpurple;
}

.timeOff{
    color: mediumspringgreen
}